body{
background-image: linear-gradient(to bottom, rgba(78, 78, 76, 0.5), rgba(158, 158, 204, 0.5)), url("../images/bgbody.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin: 0;

}

header{
    opacity: 0.9;
}
.card{
    width: 20rem;
}
.card-img-index{
    height: 200px;
    object-fit: cover;
}


footer{
    opacity: 0.8;
}

/*product page */

.card-img-product{
    max-height: 500px;
    object-fit: cover;
}

.unstretched-link {
    position: absolute;
    position: relative;
    z-index: 2;
}